# Domaine public de la régie (sans https://), ex. regie.mondomaine.fr
NODECG_BASE_URL=regie.mondomaine.fr
# Identifiant / mot de passe de la régie (protège la régie ET les overlays)
NODECG_USER=regie
NODECG_PASSWORD=change-moi
# Longue chaîne aléatoire (ex. générée sur https://1password.com/password-generator)
NODECG_SESSION_SECRET=remplace-moi-par-une-longue-chaine-aleatoire
